.advantages {
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 60px;
  padding-top: 20px;
  position: relative;
  &__second-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    @media (max-width: 991px) {
      display: none;
    }
    img {
      max-height: 675px;

    }
  }
  &__ttl {
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
  }
  &__img {
    padding-top: 50px;
    img {
      max-width: 100%;
    }
  }
  &_item {
    margin-top: 20px;
  }
  &__small-ttl {
    span {
      font-weight: 900;
      font-size: $px18;
      text-decoration: underline;
      text-transform: uppercase;
      padding-right: 10px;
    }
    img {
      max-width: 32px;
      max-height: 32px;
    }
  }
  &__desc {
    font-size: $px16;
    font-weight: 400;
  }
}