.advantage-slider {
  h2 {
    text-align: center;
    color:  $green;
    font-size: $px24;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .uk-slidenav-position {
    .uk-slideshow {
      .uk-cover-background,
      img {
        max-width: 950px;
        max-height: 500px;
        background-size: 100% 100%;
        margin: 0 auto;
      }
    }
    .uk-slidenav-next:before,
    .uk-slidenav-previous:before {
      color: $red;
    }
  }
}