.top-slider {
  color: #fff;
  margin-top: 50px;
  &__cntnr.container {
    max-width: 700px;
    z-index: 2;
    position: relative;
  }
  &__name-mebel {
    font-size: $px70;
    text-align: left;
    font-weight: 900;
    span {
      font-size: $px30;
    }
  }
  &__action-mebel {
    text-align: right;
    span {
      background-color: $red;
      font-size: 1.375rem;
      font-weight: 700;
      padding: 5px 10px;
      text-transform: uppercase;
    }
  }
  &__content {
    text-align: left;
    font-size: $px16;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    width: 100%;
    max-width: 350px;
  }
  &__button {
    border-radius: 20px;
    background-color:  $red;
    width: 206px;
    height: 44px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: $px22;
    border: none;
    margin-top: 25px;
    padding-top: 9px;
    cursor: pointer;
    @media (max-width: 620px) {
      display: block;
      margin: 9px auto 0;
    }
    &:hover {
      background-color: darken($red, 10);
      color: #fff;
    }
  }
  &__product-mebel {
    margin-top: -50px;
    text-align: center;
    z-index: 1;
    img {
      width: auto;
      height: 500px;
    }
  }
  .uk-slidenav-previous:before,
  .uk-slidenav-next:before {
    color: $red;
  }
}