.contacts {
  color: #fff;
  background-size: cover;
  font-weight: 300;
  h2 {
    text-align: center;
    font-size: $px24;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__shop {
    font-size: $px24;
    line-height: 30px;
    margin-bottom: 35px;
    padding-bottom: 15px;
    &_all {
      float: left;
      margin-right: 20px;
      @media (max-width: 1211px) {
        float: none;
      }
    }
    &_name {
      font-weight: 900;
      text-decoration: underline;
      text-transform: uppercase;
    }
    &_phone {
      margin-top: 20px;
    }
    &_img {
      float: right;
      overflow-x: auto;
      @media (max-width: 1211px) {
        float: none;
        margin-top: 20px;
      }
      &_in {
        min-width: 744px;
      }
      img {
        float: left;
        margin-right: 20px;
      }
    }
  }
}