.footer {
  background: #000;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  font-size: $px20;
  font-weight: 900;
  @media (max-width: 991px) {
    text-align: center;
  }
  &_name {
    font-size: $px36;
    font-weight: 900;
  }
}