header {
  background-color: #fff;
  .container {
    @media (max-width: 1100px) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (max-width: 991px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  .navbar-default {
    min-height: 80px;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    float: left;
    width: 67%;
    @media (max-width: 1110px) {
      width: 66%;
    }
    @media (max-width: 991px) {
      width: 50%;
    }
    @media (max-width: 600px) {
      width: 66%;
    }
    @media (max-width: 425px) {
      width: 50%;
    }
    .navbar-collapse {
      border: none;
    }
    .navbar-toggle {
      float: left;
      top: 20px;
      border: 1px solid $orange;
      border-radius: 0;
      height: 34px;
      @media (max-width: 460px) {
        top: 40px;
        left: 0;
      }
      @media (max-width: 412px) {
        top: 50px;
      }
      &:hover,
      &:focus {
        background-color: transparent;
      }
      .icon-bar {
        background-color: $orange;
        display: none;
        &:first-child {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          transition: all 0.5s;
          display: block;
        }
        &:last-child {
          -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
          transition: all 0.5s;
          display: block;
          margin-top: -2px;
        }
      }
      &.collapsed {
        .icon-bar{
          display: block;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          transition: all 0.5s;
          &:last-child {
            margin-top: 4px;
          }
        }
      }
    }
    .navbar-brand {
      color: $green;
      font-size: $px40;
      font-weight: 900;
      margin-top: 20px;
      @media (max-width: 1201px) {
        font-size: $px32;
      }
      @media (max-width: 1029px) {
        font-size: $px26;
      }
      @media (max-width: 991px) {
        float: none;
        margin: auto;
        position: absolute;
        top: 20px;
        left: inherit;
        right: 20px;
        max-width: 263px;
        padding-left: 0;
        padding-right: 0;
      }
      @media (max-width: 460px) {
        top: 0px;
        left: 0;
        right: inherit;
      }
      @media (max-width: 425px) {
        font-size: $px24;
      }
      @media (max-width: 335px) {
        font-size: $px20;
      }
      &:hover,
      &:focus {
        color: $green;
      }
      &:after {
        content: '';
        width: 1000px;
        border-bottom: 3px solid #b80000;
        display: block;
        position: absolute;
        left: -745px;
        bottom: 1px;
        @media (max-width: 1201px) {
          left: -785px;
        }
        @media (max-width: 991px) {
          display: none;
        }
      }
      span {
        font-size: $px16;
      }
    }
    .navbar-nav {
      margin-top: 40px;
      @media (max-width: 375px) {
        margin-top: 60px;
      }
      li {
        a {
          font-weight: 500;
          font-size: $px14;
          padding-bottom: 0;
          padding-top: 0;
          text-transform: uppercase;
          @media (max-width: 1201px) {
            padding: 0 5px;
          }
          @media (max-width: 991px) {
            padding: 10px 15px;
          }
          &:hover,
          &:focus {
            background-color: transparent !important;
            color: #767676 !important;
            border-bottom: 1px solid $red;
          }
        }
        &.active {
          a{
            background-color: transparent!important;
            color: #767676!important;
          }
        }
        ul {
          li {
            a {
              &:hover {
                border-bottom: 1px solid #ff5717;
              }
            }
          }
        }
      }
    }
  }
  .header_rigth-blck {
    min-width: 331px;
    float: right;
    @media (max-width: 991px) {
      width: 50%;
    }
    @media (max-width: 708px) {
      width: auto;
      height: 10px;
    }
    @media (max-width: 412px) {
      height: 20px;
    }
  }
}
.select-city {
  float: left;
  margin-top: 35px;
  @media (max-width: 991px) {
    float: right;
    margin-right: 160px;
  }
  @media (max-width: 708px) {
    margin-bottom: 5px;
    top: 20px;
    position: absolute;
    right: 0px;
    margin-right: 0;
  }
  @media (max-width: 360px) {
    margin-bottom: 15px;
  }
  &_ttl {
    color:  #ababab;
    font-size: $px14;
    font-weight: 500;
  }
  select {
    border: none;
    text-transform: capitalize;
    color: $red;
    border-bottom: 1px dotted #b80000;
    font-size:$px14;
    font-weight: 500;
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
}
.quest-top {
  background-color: $red;
  border: none;
  color: #fff;
  width: 154px;
  height: 39px;
  margin-top: 20px;
  float: right;
  &:hover {
    background-color: $red;
  }
  @media (max-width: 991px) {
    position: absolute;
    top: 30px;
    right: 10px;
    margin-top: 0;
  }
  @media (max-width: 708px) {
    top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }
  .navbar-nav {
    float: none;
    margin: inherit;
  }
  .navbar-nav>li {
    float: none;
  }
  .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 25px;
  }
}