.how-buy {
  background-color:  #efefef;
  text-align: center;
  padding-bottom: 60px;

  .container {
    max-width: 1170px;
    position: relative;
    @media (max-width: 290px) {
      max-width: 320px;
    }
  }

  .ttl {
    color: $green;
    margin-bottom: 40px;
  }

  &__second {
    max-width: 900px;
    margin: 0 auto;
    @media (max-width: 767px) {
      width: 270px;
    }
  }
  &__arrow {
    width: 10%;
    float: left;
    padding-top: 50px;
    @media (max-width: 767px) {
      float: none;
      width: 90px;
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      margin: 0 auto;
      padding-top: 20px;
    }
    img {
      width: 100%;
    }
  }
  &__item {
    width: 17.5%;
    float: left;
    @media (max-width: 767px) {
      float: none;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 30px;

    }
    &_img {
      width: 90%;
    }
    &_desc {
      color: $grey-text;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      margin-top: 20px;
    }
  }
}