.make-furniture {
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
  &_desc {
    font-size: $px18;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &_widget {
    margin-bottom: 35px;
    overflow-x: auto;
    padding-bottom: 15px;
    .uk-grid {
      @media (max-width: 1210px) {
        width: 1164px;
      }
    }
    .uk-overlay-icon:before {
      content: "\f00e";
      color: #fff;
    }
  }
  &__video-blc {
    &_video {
      margin-top: 10px;
      iframe {
        width: 100%;
        height: 70vh;
        @media (max-width: 425px) {
          height: 50vh;
        }
      }
    }
  }
}