.orderForm {
  background: $red;
  &__ttl {
    font-size: $px36;
    color: #fff;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
  }
  &__form {
    @media (max-width: 768px) {
      text-align: center;
    }
    input {
      border: none;
      border-radius: 0;
      margin-top: 35px;
      max-width: 178px;
      @media (max-width: 767px) {
        margin: 10px auto 0;
      }
    }
    .help-block {
      color: #fff;
    }
    button {
      background-color:  #fff;
      width: 100%;
      max-width: 350px;
      height: 63px;
      color: $red;
      border: none;
      border-radius: 0;
      font-size: $px24;
      font-weight: 700;
      margin-top: 20px;
      &:hover,
      &:active {
        background-color: #fff;
        color: red;
      }
    }
  }
}