.products {
  margin-top: 40px;
  margin-bottom: 60px;
  color: $red;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  &__ttl {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
  }
  &__cntnr {
    margin-top: 40px;
    .nav-tabs {
      border: none;
      display: table;
      width: 100%;
      text-align: justify;
      text-align-last: justify;
      padding: 0 5px;
      @media (max-width: 1159px) {
        position: absolute;
        top: 590px;
        left: -370px;
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        z-index: 99;
        width: 1020px;
      }
      @media (max-width: 991px) {
        left: -473px;
      }
      @media (max-width: 469px) {
        top: 610px;
      }
      li {
        border: 1px solid $red;
        border-left: none;
        float: none;
        min-width: 20%;
        display: table-cell;
        &:first-child {
          border-left: 1px solid $red;
        }
        @media (max-width: 1159px) {
          float: right;
          &:last-child {
            border-left: 1px solid $red;
          }
        }
        a {
          color: $red;
          font-size: $px20;
          text-align: center;
          text-align-last: center;
          width: 240px;
          margin: 0 auto;
          @media (max-width: 1336px) {
            width: 200px;
          }
          @media (max-width: 1159px) {
            width: auto;
            font-size: $px16;
          }
        }
        &:hover,
        &.active {
          background: $red;
          a {
            background: transparent;
            border: 1px solid $red;
            border-radius: 0;
            color: #fff;
          }
        }
      }
    }
    .tab-content {
      &__ul {
        display: table;
        padding-left: 0;
        width: 100%!important;
        text-align: center;
        @media (max-width: 1159px) {
          height: 1020px;
          display: block;
          width: 95%!important;
        }
        @media (max-width: 630px) {
          float: right;
          max-width: 450px;
          width: 90%!important;
        }
        @media (max-width: 493px) {
          float: right;
          max-width: 450px;
          width: 86%!important;
        }
      }
      &__li {
        width: 33.33%;
        text-align: center;
        text-align-last: center;
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
        padding: 0 5px;
        @media (max-width: 1159px) {
          width: 100%;
        }
        &_in {
          border: 1px solid $grey-text;
          padding: 5px;
          max-width: 420px;
          margin: 0 auto;
        }
      }
    }
  }
  &_image {
    img {
      width: 100%;
    }
  }
  &_desc {
    .title {
      font-size: $px18;
      font-weight: 900;
      color: $grey-text;
      text-transform: uppercase;
      @media (max-width: 1319px) {
        min-height: 50px;
      }
      span {
        color: $red;
      }
    }
  }
  &__cost {
    &_desc {
      position: relative;
      margin-bottom: 20px;
      .total_cost {
        font-size: $px36;
        font-weight: 900;
        color: $red;
        &_in {
          font-size: $px24;
          text-transform: lowercase;
          display: inline-block;
          position: relative;
          .old_prise {
            font-size: $px16;
            font-weight: 400;
            font-style: italic;
            color: $grey-text;
            text-decoration: line-through;
            position: absolute;
            left: -1px;
            margin: auto;
            top: -10px;
            & > span + span {
              text-transform: lowercase;
            }
          }
        }
      }
      &_star-point {
        font-size: $px16;
        font-weight: 400;
        color: $grey-text;
        margin-top: -10px;
        text-transform: none;
      }
    }
  }
  &__buy {
    button {
      border: none;
      border-radius: 0;
      background: $green;
      color: #fff;
      font-weight: 900;
      font-size: $px18;
      text-transform: uppercase;
      width: 100%;
      padding: 5px 0;
    }
  }
}