#review {
  &>h2 {
    text-align: center;
    font-size: $px24;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .review-header,
  .review-content,
  .review-img {
    max-width: 420px;
    margin: 0 auto;
  }
  .review-header {
    padding-bottom: 10px;
    img {
      float: left;
    }
    h5 {
      float: left;
      padding-top: 30px;
      padding-left: 20px;
      font-weight: 400;
      font-style: italic;
    }
  }
  .review-content {
    text-align: left;
    padding-bottom: 30px;
    font-style: italic;
  }
  .review-img {
    img {
      width: 100%;
    }
  }
  .uk-slidenav-next:before,
  .uk-slidenav-previous:before {
    color: $red;
  }
}