.ship-pay {
  text-transform: uppercase;
  font-weight: 400;
  font-size: $px18;
  color: $grey-text;
  padding-bottom: 60px;
  background-color:  #f3f3f3;
  .container {
    max-width: 1170px;
  }
  .ttl {
  }
  &__cntnt {
    margin-bottom: 20px;
    &_img {
      text-align: center;
      margin-bottom: 40px;
    }
    &_back {
      background-image: url("../img/ship-pay.png");
      width: 9px;
      height: 100%;
      position: absolute;
      top: 30px;
      right: 5px;
      @media (max-width: 767px) {
        background-image: url("../img/ship-pay2.png");
        width: 100%;
        height: 9px;
        top: inherit;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}