.product {
  margin-bottom: 50px;

  &__title {
    color: $green;
    font-weight: 900;
    font-size: $px24;
    text-transform: uppercase;
  }

  &__info {

    .image-title {
      font-family: "Roboto", sans-serif;
      color:  #ce2043;
      font-size: 18px;
      font-style: italic;
      line-height: 30px;
      text-align: center;
      bottom: 0px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &__gallery {
    width: 400px;
    float: right;
    @media (max-width: 768px) {
      float: none;
      width: 100%;
    }
    .uk-overlay-panel {
      ul {
        li {
          a {
            border: 1px solid #929292;
            img {
              width: 100%;
            }
          }
        }
      }
      .uk-thumbnav>* {
        max-width: 33%;
      }
    }
  }

  .uk-overlay-panel {
    position: static;
  }
  &__fields {
    font-size: $px16;
    @media (max-width: 768px) and (min-width: 460px){
      width: 50%;
      float: left;
    }
    @media (max-width: 460px) {
      text-align: center;
    }
    &_materials,
    &_dimensions {
      margin-bottom: 20px;
    }
    &_materials_ttl,
    &_dimensions_ttl {
      font-weight: 900;
      text-decoration: underline;
      text-transform: uppercase;
    }
    &_desc {
      color: $green;
    }
  }
  &__colors {
    margin-bottom: 20px;
    @media (max-width: 460px) {
      width: 180px;
      margin: 0 auto;
    }
    .oakcms-option-heading {
      strong {
        font-weight: 900;
        text-decoration: underline;
        text-transform: uppercase;
      }
      @media (max-width: 460px) {
        text-align: center;
      }
    }
    label {
      display: block;
      color: $green;
      font-weight: 400;
    }
  }
  &__count {
    margin-bottom: 20px;
    &_ttl {
      font-size: $px16;
      font-weight: 900;
      text-decoration: underline;
      text-transform: uppercase;
      float: left;
      padding-top: 5px;
      @media (max-width: 460px) {
        float: none;
        text-align: center;
      }
    }
    &_desc {
      float: left;
      @media (max-width: 460px) {
        float: none;
      }
      .oakcms-change-count {
        .input-group {
          width: 100px;
          @media (max-width: 460px) {
            margin: 0 auto;
          }
          &-btn {
            a {
              background: #e4e4e4;
              color: $green;
              height: 30px;
              padding-top: 4px;
            }
          }
          input {
            color: $red;
            height: 30px;
          }
        }
      }
    }
  }
  &__cost {
    @media (max-width: 768px) {
      text-align: center;
    }
    &_ttl {
      font-size: $px16;
      font-weight: 900;
      text-decoration: underline;
      text-transform: uppercase;
    }
    &_desc {
      .old_prise {
        display: inline-block;
        span {
          font-size: $px30;
          font-weight: 400;
          position: relative;
          &:after {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0;
            background: $red;
          }
        }
      }
      .total_cost {
        margin-top: -13px;
        margin-left: 5px;
        display: inline-block;
        span {
          font-weight: 900;
          font-size: $px48;
          color: $red;
        }
      }
      &_star {
        color: $green;
        display: inline-block;
        vertical-align: top;
      }
      &_star-point {
        clear: both;
        float: none;
        position: relative;
        top: -10px;
        padding-left: 30px;
        text-transform: none;
      }
    }
  }
  &__buy {
    @media (max-width: 767px) {
      text-align: center;
    }
    button {
      width: 90%;
      max-width: 324px;
      height: 60px;
      border: none;
      border-radius: 30px;
      background: $red;
      color: #fff;
      font-size: $px24;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
