$red: #ce2043;
$orange: #ff5717;
$blue: #0077d6;
$grey-text: #767676;
$green: #01a8a2;
$px8: 0.5rem;
$px9: 0.5625rem;
$px10: 0.625rem;
$px11: 0.6875rem;
$px12: 0.75rem;
$px13: 0.8125rem;
$px14: 0.875rem;
$px15: 0.9375rem;
$px16: 1rem;
$px18: 1.125rem;
$px20: 1.25rem;
$px22: 1.375rem;
$px24: 1.5rem;
$px26: 1.625rem;
$px28: 1.75rem;
$px30: 1.875rem;
$px32: 2rem;
$px34: 2.125rem;
$px36: 2.25rem;
$px38: 2.375rem;
$px40: 2.5rem;
$px48: 3rem;
$px50: 3.125rem;
$px70: 4.375rem;
$px72: 4.5rem;