.video-review {
  padding-bottom: 50px;
  .container {
    max-width: 970px;
  }
  &__ttl {
    text-align: center;
    margin: 40px auto;
    text-transform: uppercase;
  }
  &__video {
    iframe {
      width: 100%;
      height: 70vh;
      @media (max-width: 425px) {
        height: 50vh;
      }
    }
  }
  &__sub-ttl {
    font-size: $px16;
    font-weight: 700;
    margin-top: 30px;
    text-transform: uppercase;
  }
  &__desc {
    font-size: $px16;
    text-transform: uppercase;
  }
}